<!-- Copyright -->
<footer>
  <div id="copyright">
    <h4>Copyright</h4>
      <h6>This copyright statement applies to all photos and images found on the palebluedotfilms.xyz domain. Please read carefully before downloading, linking to, or printing copies for use.</h6>

    <h4 #proprietaryRights>Proprietary Rights</h4>

      <h6>The photos and images contained on the palebluedotfilms.xyz domain are the property of Pale Blue Dot Films and are protected by United States and international copyright, trademark, and intellectual property laws. All copyright, trademark, and other intellectual property rights on this domain are the property of either Pale Blue Dot Films or their respective copyright holders.</h6>

      <h6>No permission, either express or implied, is granted for the electronic transmission, storage, retrieval, or printing of the photos and images contained on the palebluedotfilms.xyz domain, other than that which is related to the normal “caching” practices of web browsers and downloading solely for your personal enjoyment.</h6>

      <h6>No party visiting the palebluedotfilms.xyz domain, may otherwise copy, modify, publish, transmit, or distribute the contents of the photos and images found herein.</h6>
      
      <h6>Your use of the palebluedotfilms.xyz domain or viewing of this statement indicates your acceptance of these conditions.</h6>

      <p>&copy;{{ year | date: 'y'}} by <a href="mailto:palebluedotfilms@outlook.com">Pale Blue Dot Films</a></p>
  </div>
</footer>