<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-desktop">
  <div class="container-fluid">
    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation" class="navbar-toggler ms-auto">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a aria-current="page" class="nav-link active btn" routerLinkActive routerLink="/">Films</a>
        </li>
        <li class="nav-item">
          <a aria-current="page" class="nav-link active btn" routerLinkActive routerLink="/reel">Reel</a></li>
     </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-mobile">
  <div class="container-fluid">
    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation" class="navbar-toggler ms-auto">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="navbar-collapse collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a aria-current="page" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" class="nav-link active btn" routerLinkActive routerLink="/">Films</a>
        </li>
        <li class="nav-item">
          <a aria-current="page" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" class="nav-link active btn" routerLinkActive routerLink="/reel">Reel</a></li>
     </ul>
    </div>
  </div>
</nav>
